


<form method="post" action="/food-diary">

  <label for="mealtime-select">Select Mealtime:</label>
    <select id="mealtime_select" name="mealtimes_id">
      <% @all_mealtimes.each do |mealtime| %>
          <option value=<%= mealtime.id %>><%= mealtime.name %></option>
      <% end %>
    </select>

  <label for="food-select">Select Food:</label>
    <select id="food_select" name="foods_id">
      <% @all_foods.each do |food| %>
          <option value=<%= food.id %>><%= food.name %></option>
      <% end %>
    </select>

    <label for="quantity">Quantity(g)</label>
      <input type="number" id="quantity" name="quantity" required min = 1 >

    <input type="submit" value="Enter Food">

</form>

<hr>

<h3>Food Diary</h3>

  <table>
    <tr>
      <th>Mealtime</th>
      <th>Food</th>
      <th>Type</th>
      <th>Quantity</th>
    </tr>
    <% for food in @all_meals %>
    <tr>
      <td><%= food['mealtime_name'] %></td>
      <td><%= food['food_name'] %></td>
      <td><%= food['food_type_name'] %></td>
      <td><%= "#{food['quantity'].to_s}g"  %></td>
      <td><form method="post" action="/food-diary/<%= "#{food['id']}" %>/delete">
            <input type="submit" value="Delete Food">
          </form>
      </td>
    </tr>
    <% end %>
  </table>

<br>

<hr>
<hr>
<table>
  <tr>
    <th>Mineral</th>
    <th>RDA</th>
    <th>My Total</th>
    <th>% RDA</th>
  </tr>
  <% for mineral in @total_minerals %>
  <tr>
    <td><%= mineral['name'] %></td>
    <td><%= "#{mineral['rda']}#{mineral['uom']}"  %></td>
    <td><%= "#{mineral['total_nutrient_level'].to_f.round(2)}#{mineral['uom']}"  %></td>
    <td><%= mineral['percentage_rda'].to_f.round %></td>
  </tr>
  <% end %>
</table>
<br>
<hr>
<table>
  <tr>
    <th>Vitamin</th>
    <th>RDA</th>
    <th>My Total</th>
    <th>% RDA</th>
  </tr>
  <% for vitamin in @total_vitamins %>
  <tr>
    <td><%= vitamin['name'] %></td>
    <td><%= "#{vitamin['rda']}#{vitamin['uom']}"  %></td>
    <td><%= "#{vitamin['total_nutrient_level'].to_f.round(2)}#{vitamin['uom']}"  %></td>
    <td><%= vitamin['percentage_rda'].to_f.round %></td>
  </tr>
  <% end %>
</table>
<hr>
