<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center b-top b-bottom b-left b-right">
<!-- Form for creating an entry on the Food Diary -->
    <form id="form1" method="post" action="/food-diary">
      <label for="mealtime-select">Select Mealtime:</label>
        <select id="mealtime-select" name="mealtimes_id">
          <% @all_mealtimes.each do |mealtime| %>
              <option value=<%= mealtime.id %>><%= mealtime.name %></option>
          <% end %>
        </select>

      <label for="food-select">  Select Food:</label>
       <select id="food-select" name="foods_id">
         <% @all_foods.each do |food| %>
             <option value=<%= food.id %>><%= food.name %></option>
         <% end %>
       </select>

      <label for="quantity">  Quantity(g)</label>
        <input type="number" id="quantity" name="quantity" placeholder="Enter quantity (g)" required min = 1 >
      <input type="submit" value="Enter Food">
    </form>
  </main>
  <aside class="flex-item sidebar"></aside>
</section>
<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center b-left b-right">
<!-- Food Diary displays all foods consumed -->
    <form id="delete-food" method="post" action="/food-diary/delete"></form>
    <form id="group-food" method="post" action="/favourite/new"></form>
    <table>
      <tr>
        <th class = "green">Mealtime</th>
        <th class = "green">Food</th>
        <th class = "green">Type</th>
        <th class = "green">Quantity</th>
        <th><input type="submit" value="Delete Selected" form="delete-food"></th>
        <th><input type="submit" value="Group Selected as meal" form="group-food"></th>
      </tr>
      <% for food in @all_meals %>

      <tr>
        <td><%= food['mealtime_name'] %></td>
        <td><%= food['food_name'] %></td>
        <td><%= food['food_type_name'] %></td>
        <td><%= "#{food['quantity'].to_s}g"  %></td>
        <td align="center"><input type="checkbox" id="xxxx" name="<%= "#{food['food_name']}" %>" value="<%= "#{food['id']}" %>" form="delete-food">
        </td>
        <td align="center"><input type="checkbox" id="yyyy" name="<%= "#{food['food_name']}" %>" value="<%= "#{food['id']}" %>" form="group-food">
        </td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="text" id="food-name" form="group-food" name="favourite_name" placeholder="Enter Meal Name" required ></td>
      </tr>
    </table>
  </main>
  <aside class="flex-item sidebar"></aside>
</section>

<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main-left center b-top b-bottom b-left">
<!-- Nutrition tables show total vitamins and minerals for foods consumed (listed in food diary above) -->
    <table>
      <tr>
        <th class = "green">Mineral</th>
        <th class = "green">RDA</th>
        <th class = "green">Total</th>
        <th class = "green">RDA%</th>
      </tr>
      <% for mineral in @total_minerals %>
      <tr>
        <td><%= mineral['name'] %></td>
        <td class="right"><%= "#{mineral['rda']}#{mineral['uom']}"  %></td>
        <td class="right"><%= "#{mineral['total_nutrient_level'].to_f.round(2)}#{mineral['uom']}"  %></td>
        <td class="right"><%= mineral['percentage_rda'].to_f.round %></td>
      </tr>
      <% end %>
    </table>
  </main>
  <main class="flex-item main-right center b-top b-bottom b-right">
    <table>
      <tr>
        <th class = "green">Vitamin</th>
        <th class = "green">RDA</th>
        <th class = "green">Total</th>
        <th class = "green">RDA%</th>
      </tr>
      <% for vitamin in @total_vitamins %>
      <tr>
        <td><%= vitamin['name'] %></td>
        <td class="right"><%= "#{vitamin['rda']}#{vitamin['uom']}"  %></td>
        <td class="right"><%= "#{vitamin['total_nutrient_level'].to_f.round(2)}#{vitamin['uom']}"  %></td>
        <td class="right"><%= vitamin['percentage_rda'].to_f.round %></td>
      </tr>
      <% end %>
    </table>
  </main>
  <aside class="flex-item sidebar"></aside>
</section>
