
<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center">

    <div class="center">
      <form method="post" action="/favourite">

        <label for="favourites-select">Choose favourites to view their nutritional information:</label>
         <select id="favourites-select" name="foods_id">
           <% @all_fav_foods.each do |food| %>
               <option value=<%= food.id %>><%= food.name %></option>
           <% end %>
         </select>

        <input type="submit" value="Show Nutritional Data">
      </form>
    </div>

  </main>
  <aside class="flex-item sidebar"></aside>
</section>

<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <!-- Nutrition tables show total vitamins & minerals for foods consumed (listed in food diary above) -->
  <main class="flex-item main-left center">
    <div class="center">
      <table>
        <tr>
          <th class = "green">Mineral</th>
          <th class = "green">RDA</th>
          <th class = "green">Quantity</th>
          <th class = "green">RDA%</th>
        </tr>
        <% for mineral in @mineral_data %>
        <tr>
          <td><%= mineral['name'] %></td>
          <td class="right"><%= "#{mineral['rda']}#{mineral['uom']}"  %></td>
          <td class="right"><%= "#{mineral['nutrient_level'].to_f.round(2)}#{mineral['uom']}"  %></td>
          <td class="right"><%= mineral['percentage_rda'].to_f.round %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </main>
  <main class="flex-item main-right center">
    <div class="center">
      <table>
        <tr>
          <th class = "green">Vitamin</th>
          <th class = "green">RDA</th>
          <th class = "green">Quantity</th>
          <th class = "green">RDA%</th>
        </tr>
        <% for vitamin in @vitamin_data %>
        <tr>
          <td><%= vitamin['name'] %></td>
          <td class="right"><%= "#{vitamin['rda']}#{vitamin['uom']}"  %></td>
          <td class="right"><%= "#{vitamin['nutrient_level'].to_f.round(2)}#{vitamin['uom']}"  %></td>
          <td class="right"><%= vitamin['percentage_rda'].to_f.round %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </main>
  <aside class="flex-item sidebar"></aside>
</section>
